/* Update styles for the homepage */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
  background-color: #F9F9F9; /* Light gray */
  color: #000000; /* Black */
}

.description {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.compliment {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000; /* Black */
}

.generate-button {
  padding: 0.75rem 1.5rem;
  background-color: #333333; /* Dark gray */
  color: #F9F9F9; /* Light gray */
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-button:hover {
  background-color: #000000; /* Black */
}
